@import "tailwindcss";


@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .text-shadow-lg {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .text-shadow-glow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }

  .underline-smooth {
    @apply relative;
  }

  .underline-smooth::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2.5px;
  width: 0;
  background-color: black;
  transition: all 0.75s ease;
}

.underline-smooth:hover::after {
  width: 100%;
}
}

/* Satoshi Font */
@font-face {
  font-family: "Satoshi";
  src: url("/src/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/* Switzer Font */
@font-face {
  font-family: "Switzer";
  src: url("/src/fonts/Switzer_Complete/Fonts/WEB/fonts/Switzer-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("/src/fonts/Switzer_Complete/Fonts/WEB/fonts/Switzer-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-satoshi: "Satoshi", sans-serif;
  --font-switzer: "Switzer", sans-serif;
}